In [3]:
from io import BytesIO, TextIOWrapper, StringIO
from zipfile import ZipFile
import pandas as pd
import requests
import pandas as pd

def download_zipfile(URL):
    """
    Given a URL for a .zip, download and unzip the .zip file
    this function is borrowed from code provided in the phase 1 project
    """
    response = requests.get(URL)
    print(f"""Successfully downloaded ZIP file
    {URL}
    """)

    content_as_file = BytesIO(response.content)
    zip_file = ZipFile(content_as_file)
    return zip_file

def open_csv_from_zip(zip_file, csv_name):
    """
    Given an unzipped .zip file and the name of a CSV inside of it, 
    extract the CSV and return the relevant file
    this function is borrowed from code provided in the phase 1 project
    """
    csv_file_bytes = zip_file.open(csv_name)
    # it seems we have to open the .zip as bytes, but CSV reader requires text
    csv_file_text = TextIOWrapper(csv_file_bytes, encoding="ISO-8859-1")
    return csv_file_text

def get_parcel_table():
    parcel_url = 'https://aqua.kingcounty.gov/extranet/assessor/Parcel.zip'
    csv_name = 'EXTR_Parcel.csv'
    zip_file = download_zipfile(parcel_url)
    csv_as_text = open_csv_from_zip(zip_file, csv_name)
    rp_sale_table = pd.read_csv(csv_as_text)
    return rp_sale_table
    
def get_lookup_table():
    lookup_url = 'https://aqua.kingcounty.gov/extranet/assessor/Lookup.zip'
    csv_name = 'EXTR_LookUp.csv'
    zip_file = download_zipfile(lookup_url)
    csv_as_text = open_csv_from_zip(zip_file, csv_name)
    rp_sale_table = pd.read_csv(csv_as_text)
    return rp_sale_table
    
def get_res_bldg_table():
    res_bldg_url = 'https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip'
    csv_name = 'EXTR_ResBldg.csv'
    zip_file = download_zipfile(res_bldg_url)
    csv_as_text = open_csv_from_zip(zip_file, csv_name)
    rp_sale_table = pd.read_csv(csv_as_text, encoding = 'ISO-9959-1')
    return rp_sale_table

def get_rp_sale_table():
    rp_sale_url = 'https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip'
    csv_name = 'EXTR_RPSale.csv'
    zip_file = download_zipfile(rp_sale_url)
    csv_as_text = open_csv_from_zip(zip_file, csv_name)
    rp_sale_table = pd.read_csv(csv_as_text)
    return rp_sale_table

def get_dataframes():
    """
    Create a dictionary with the each csv file as a pandas dataframe.
    """
    dataframes_dict = {
        "parcel": get_parcel_table(),
        "res_bldg": get_res_bldg_table(),
        "rp_sale": get_rp_sale_table(),
        "lookup": get_lookup_table(),
    }
    return dataframes_dict

In [16]:
dfs_dict = get_dataframes()

Successfully downloaded ZIP file
    https://aqua.kingcounty.gov/extranet/assessor/Parcel.zip

Successfully downloaded ZIP file
    https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Successfully downloaded ZIP file
    https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip

/opt/anaconda3/envs/oy-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (1,2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Successfully downloaded ZIP file
    https://aqua.kingcounty.gov/extranet/assessor/Lookup.zip

In [18]:
dfs_dict['res_bldg']

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,...,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,32604,9114,1,1,3520 NE 189TH PL 98155,3520,,NE,189TH,PL,...,1,0,1,1975,0,0,0,0,3,0
1,32606,9012,1,1,23422 NE 188TH ST 98077,23422,,NE,188TH,ST,...,0,0,0,1991,0,0,0,0,3,0
2,32606,9039,1,1,19800 242ND AVE NE 98077,19800,,,242ND,AVE,...,0,0,0,2000,0,0,0,0,3,0
3,32606,9044,1,1,18917 244TH AVE NE 98077,18917,,,244TH,AVE,...,0,0,0,2002,0,0,0,0,3,0
4,32606,9045,1,1,18926 240TH AVE NE 98077,18926,,,240TH,AVE,...,0,1,0,1974,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517778,334210,2385,1,1,3315 N PARK AVE 98056,3315,,N,PARK,AVE,...,0,0,0,1959,0,0,0,0,5,0
517779,334210,2486,1,1,910 N 33RD PL 98056,910,,N,33RD,PL,...,0,0,0,1979,0,0,0,0,4,0
517780,334210,2520,1,1,907 N 35TH ST,907,,N,35TH,ST,...,0,0,1,2006,0,0,0,0,3,0
517781,334210,3208,1,1,1402 N 32ND ST 98056,1402,,N,32ND,ST,...,0,1,0,1968,0,0,0,0,4,0
517782,334210,3217,1,1,1307 N 32ND ST 98056,1307,,N,32ND,ST,...,0,0,0,1949,0,0,0,0,3,0